<div class="form-container">
  <form #registrationForm="ngForm">
    <div class="old-password-form">
      <div class="form-group">
        <label for="password">Old Password:</label><br>
        <input type="password" id="password" [(ngModel)]="confirmPassword" name="password" required (input)="checkPassword()">
      </div>
      <div class="form-group">
        <div class="password-check">
          <div *ngIf="passwordStrength === 'Паролі не співпадають'" class="password-check">Паролі не співпадають</div>
        </div>
      </div>
    </div>

    <div class="old-password-form">
      <div class="form-group">
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" [(ngModel)]="user.password" name="password" required (input)="checkPasswordStrength()">
      </div>
      <div class="form-group">
        <div class="password-strength">
          <div *ngIf="passwordStrength === 'small'" class="small">Too small password</div>
          <div *ngIf="passwordStrength === 'weak'" class="weak">Weak password</div>
          <div *ngIf="passwordStrength === 'medium'" class="medium">Medium password</div>
          <div *ngIf="passwordStrength === 'strong'" class="strong">Strong password</div>
          <div *ngIf="passwordStrength === 'big'" class="big">Too big password</div>
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="registrationForm.invalid">Оновити</button>
  </form>
</div>
