*{
}

.main-grid{
  color: #EEEEEE;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
}

.movie-info{
  margin-top: 30px;
}

.left-top{
  margin-top: 30px;
  margin-left:30px;
}

.left-top >img{
  width:95%;
}

.left-bottom{
  margin-left:30px;
  margin-right:5%;

  border: 1px solid #1c3e40;

  background-color: #161820;
}
.left-bottom-info-name{
  font-size: x-large;
  background-color: #1c3e40;
  padding:3px;
}
.left-bottom-info{
  margin-left:15px;
  background-color: #1b2027;
  border:1px solid #1c3e40;
  padding:3px;
}

a{
  color: #EEEEEE;
  text-decoration: none;
}
a:hover{
  color: #9ee3e6;
}
.screenings-container{
  margin-top: 12px;

  display: grid;
  grid-template-rows: 30px auto;

}
.screenings{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  align-content: stretch;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.screenings > div{
  margin-top: 15px;
  padding: 18px;
  background-color: #1f7a7f;
  border-radius: 10px;
}
.screenings > div:hover{
  background-color: #1c3e40;
}
