<div *ngIf="movie" class="main-grid">
  <div class="left-top">
    <img [src]="movie.product.imageFile" alt="{{ movie.product.name }}">
  </div>

  <div class="right-top">
    <div class="movie-info">
      <h2>{{ movie.product.name }}</h2>
      <p>{{ movie.product.description }}</p>
      <p>Release Date: {{ movie.product.releaseDate }}</p>
      <p>Duration: {{ movie.product.duration }}</p>
      <p>Country: {{ movie.product.country }}</p>
      <p>Age Restriction: {{ movie.product.ageRestriction }}</p>
      <p>Price: {{ movie.product.price }}</p>
    </div>
  </div>

  <div class="left-bottom">
    <div class="left-bottom-info-name">
      Genres:
    </div>

      <div *ngFor="let genre of movie.genres" class="left-bottom-info">
        <a [routerLink]="['/movies-by-genre/', genre.name]">{{ genre.name }}</a>
      </div>

    <div class="left-bottom-info-name">
      Directors:
    </div>

      <div *ngFor="let director of movie.directors" class="left-bottom-info">
        <a [routerLink]="['/movies-by-director/', director.firstName + ' ' + director.lastName]">{{ director.firstName }} {{ director.lastName }}</a>
      </div>

    <div class="left-bottom-info-name">
      Actors
    </div>

      <div *ngFor="let actor of movie.actors" class="left-bottom-info">
        <a [routerLink]="['/movies-by-actor/', actor.firstName + ' ' + actor.lastName]">{{ actor.firstName }} {{ actor.lastName }}</a>
      </div>
  </div>

  <div class="right-bottom">
    <div class="screenings-container">
      <div class="screenings-name">
        Screenings:
      </div>

      <div *ngFor="let screening of movie.screenings" class="screenings">
        {{ screening.startDate }} {{ screening.startTime }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="!movie">
  <p>No movie details available.</p>
</div>
