<div *ngIf="movie" class="movie-container">
  <h2>{{ movie.product.name }}</h2>
  <p>{{ movie.product.description }}</p>
  <p>Release Date: {{ movie.product.releaseDate }}</p>
  <p>Duration: {{ movie.product.duration }}</p>
  <p>Country: {{ movie.product.country }}</p>
  <p>Age Restriction: {{ movie.product.ageRestriction }}</p>
  <p>Price: {{ movie.product.price }}</p>

  <h3>Genres:</h3>
  <ul>
    <li *ngFor="let genre of movie.genres">
      <a [routerLink]="['/movies-by-genre/', genre.name]">{{ genre.name }}</a>
    </li>
  </ul>

  <h3>Directors:</h3>
  <ul>
    <li *ngFor="let director of movie.directors">
      <a [routerLink]="['/movies-by-director/', director.firstName + ' ' + director.lastName]">{{ director.firstName }} {{ director.lastName }}</a>
    </li>
  </ul>

  <h3>Actors:</h3>
  <ul>
    <li *ngFor="let actor of movie.actors">
      <a [routerLink]="['/movies-by-actor/', actor.firstName + ' ' + actor.lastName]">{{ actor.firstName }} {{ actor.lastName }}</a>
    </li>
  </ul>


  <h3>Screenings:</h3>
  <ul>
    <li *ngFor="let screening of movie.screenings">{{ screening.startDate }} {{ screening.startTime }}</li>
  </ul>
</div>
<div *ngIf="!movie">
  <p>No movie details available.</p>
</div>
