* {
  box-sizing: border-box;
  color: white; /* Змінено колір тексту на чорний */
}

.form-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 100px;
  margin-right: 10px;
}

input {
  flex: 1;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:black;
}

/* Кнопка реєстрації */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: calc(100%);
  margin-left: auto;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button:hover {
  background-color: #76ABAE;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-left: 110px;
}

.password-strength {
  margin-left: 110px;
}

.password-strength span {
  display: block;
}

.password-strength .small {
  color: red;
}

.password-strength .weak {
  color: red;
}

.password-strength .medium {
  color: orange;
}

.password-strength .strong {
  color: green;
}

.password-strength .big {
  color: red;
}
