<nav class="main_nav">
  <div style="width: 30%;">

  </div>

  <div class="center">
      <div *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="left">
        <a  (click)="onCreate()"  [routerLink]="['/admin-office']">Кабінет</a>
      </div>

      <div *ngIf="authService.isLoggedIn() && !authService.isAdmin()" class="left">
        <a  [routerLink]="['/user-office']">Кабінет</a>
      </div>

      <div *ngIf="!authService.isLoggedIn()" class="left">
        <a  [routerLink]="['/register']" >Реєстрація</a>
      </div>

      <div class="div-cinema">
        <a [routerLink]="['/catalog']">CINEMA</a>
      </div>

      <div class="right">
        <a  (click)="onLogout()" [routerLink]="['/login']">Вихід</a>
      </div>
  </div>

  <div class="nav-right">
    <div *ngIf="authService.isLoggedInAsync | async">
      <a style="margin-right: 20px;">{{ authService.username }}</a>
    </div>
  </div>
</nav>
