
<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark">
  <div class="container-fluid justify-content-md-center">

    <div class="col-auto">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" (click)="onCreate()"  [routerLink]="['/admin-office']">Кабінет</a>
        </li>
      </ul>
    </div>

    <div class="col-md-1">
      <p class="text-center" style="margin-left: 9px; margin-top:15px;">
        <a class="navbar-brand" [routerLink]="['/catalog']">CINEMA</a>
      </p>
    </div>

    <div class="col-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" >Вхід</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" [routerLink]="['/login']">Вихід</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
