<div class="main-div">

  <div class="details">
    <div *ngIf="movie" class="movie-details">
      <h2>{{ movie.name }}</h2>
      <img *ngIf="movie.imageFile" [src]="movie.imageFile" alt="Movie Poster" class="movie-poster">
    </div>

    <div class="screening-details">
      <h3>Screening Details</h3>
      <p>Start Date: {{ screeningSeats.startDate }}</p>
      <p>Start Time: {{ screeningSeats.startTime }}</p>
    </div>
  </div>


  <div *ngIf="screeningSeats" class="seats">
    <div *ngFor="let seat of screeningSeats.seats" class="seat"
         [style.pointer-events]="seat.isReserved ? 'none' : 'auto'"
         (click)="!seat.isReserved && confirmReservation(seat.id)"
         [ngClass]="{'red': seat.isReserved}">
      {{ seat.row }}{{ seat.number }}
    </div>
  </div>
</div>
