* {
  color: #EEEEEE;

}

.main-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details{
 margin-left:38%;
  margin-top: 30px;
}

.movie-details{

}

.movie-poster{
  width: 200px;
  height: 300px;
}

.screening-details{

}

.seats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2px;

  margin-top: 40px;
  margin-right:35%;
}
.seat{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  background-color: #37aaaf;
  text-align: center;
  line-height: 50px;
}
.seat:hover{
  background-color: #1f7a7f;
}

.seat > div{
  background-color: #37aaaf;
}
.seat > div:hover{
  background-color: #1f7a7f;
}
.red{
  background-color: #bc5a5a;
}
.red:hover{
  background-color: #a73a3a;
}
