div{
  border: 1px red;
}

.main-grid{
  width:100%;

  display:grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.first-child{
  height: 100px;
  width: 100%;
}

input{
  padding: 5px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
/*button{
  padding: 5px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}*/
