<div class="search-div">
  <input type="text" [formControl]="searchControl" placeholder="Пошук" class="search">
</div>

<div class="schedule-div">
  <button [routerLink]="['/screening-catalog']" class="schedule-button">Розклад фільмів</button>
</div>

<div class="main-grid">
  <div *ngIf="products.length > 0; else noResults" class="product-list">
    <div class="grid-container">
      <div *ngFor="let product of products" class="product-component">
          <img [src]="product.imageFile" alt="{{ product.name }}" [routerLink]="['/movie/', product.name]">
      </div>
    </div>
  </div>
  <ng-template #noResults>
    <div class="no-results-message">No results found.</div>
  </ng-template>
</div>

<div class="buttons-container">
  <button class="left-button" (click)="previousPage()">❮</button>
  <button class="right-button" (click)="nextPage()">❯ </button>
</div>
